.acao
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 3em;
    margin-bottom: 2em;
}

.preco
{
    text-align: center;
    padding: 10px 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.4);
    transition: all 0.2s ease-in-out;
    background-color: #DD1C1A;
    color: white;
}

.precoBackgroundTransparente
{
    background-color: transparent;
}

.precoBackgroundTransparente
{
    background-color: transparent;
    color: #DD1C1A;
}