.visa
{
    width: 70%;
    margin: 2em auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.4);
    background-color: black;
    padding: 0.5em 1.5em;
    transition: all 0.2 ease-in-out;
}

.visa p
{
    color: white;
    font-size: 1em;
    text-align: center;
}