.sucesso
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.suce
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    background-color: #f0ecec;
    padding: 1em;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.4);
}

.suce h1
{
    font-size: 1.8em;
    font-weight: 600;
    color: #DD1C1A;
}

.suce p
{
    font-size: 1.1em;
}