.checkout
{
    width: 100%;
    align-items: center;
}

.info
{
    margin: 2em 0;
}

.info div
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.18em 0;
}

hr
{
    margin: 0.9em 0;
}